<div id="main-container" class="container">

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Cust name:</strong>
	  <%= @customer.cust_name %>
	</p>

	<p class="nav_link">
		<%= link_to 'Edit', edit_customer_path(@customer) %> |
		<%= link_to 'Back', customers_path %>
	</p>	
</div>